body {
  margin: 0;
  padding: 5vh;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: Consolas, 'Courier New',
    monospace;
}
header {
  text-align: center;
}
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, auto));
  grid-gap: 2vw;
  max-width: 95vw;

}
.colorBox {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 30vh;
}

