body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Open Sans','Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h5 {
  font-weight: 800;
  margin-bottom: 0;
}
h1 {
  font-size: 5.2rem;
  font-weight: 800;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-family: 'Times New Roman', 'Cantarell', serif;
}
a {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 800;
}

.App {

}
.headerOuter {
  height: 80vh;
  background-image: url(./clean-blog-header-bg.jpg);
  background-size: cover;
  background-position-y: -24vh;
}
.navbarHolder {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.navbarHolder a:hover {
  color: rgba(255,255,255, .6);
}
nav a {
  font-size: .8rem;
  text-transform: uppercase;
  margin-right: 3vw;
}
.logoHolder {

}
nav {
  /* display: flex; */
}
nav > ul {
  display: flex;
  list-style-type: none;
  color: #fff;
}
nav > ul > li {

}
.headerInner {
  margin-top: -10vh;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.45);
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.subHeading {

}
.blogListContainer {
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postInfo {
  width: 60vw;
  max-width: 900px;
  border-bottom: 2px solid #f0f0f0;
}
.postInfo p {
  margin-top: 10px;
  color: #505050;
  
  font-style: oblique;
  font-size: 1.4rem;
}
.postInfo:hover h2, .postInfo:hover h3 {
  color: teal;
}
.blogAuthor {
  font-weight: bold;
}
.blogAuthor:hover {
  color: teal;
}
button {
  padding: 15px 20px;
  margin-right: 15vw;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  background-color: teal;
  align-self: flex-end;
  margin-top: 3vh;
}
button:hover {
  background-color: rgb(6, 84, 84);
}
footer {
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #f0f0f0;
  text-align: center;
  min-height: 15vh;
}
.fa-inverse {
  color: #fff;
    font-size: 2rem;
    padding: 10px;
    /* this centers the icon on the bg */
    padding-top: .9rem;
    background-color: #000;
    /* this makes the icon round */
    border-radius: 50%;
    /* setting width and height give us a place to put the inverse bg */
    width: 2.527rem;
    height: 2.25rem;
    margin: 10px;
}
.fa-inverse:hover {
  background-color: teal;
}

@media only screen and (max-width: 1000px) {

  .headerOuter {
    background-position-y: 0;
  }
  .headerInner {
    margin-top: -7vh;
  }  
  .navbarHolder {
      position: relative;
      height: initial;
      background-color: #fff;
      color: #000;
    }
    .navbarHolder a {
      color:#000;
    }
    .navbarHolder a:hover {
      color: rgba(0,0,0, .6);
    }
    .postInfo {
      width: 80vw;
    }

}

@media only screen and (max-width: 567px) {

    
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .postInfo p {
    font-size: 1.2rem;
  }
  .headerOuter {
    background-position-y: 0;
    background-position: center;
  }  
  .headerInner {
      margin-top: -25vh;
    }
    .navbarHolder {
      flex-flow: column wrap;
      align-items: center;
      height: 25vh;
    }
    nav ul {
      flex-flow: column wrap;
    }
    .postInfo {
      width: 90vw;
    }

}