body {
  margin: 0;
  padding: 10vh;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  padding: 0 20px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 7px;
  background-color: #029a46;
  color: #ffffff;
  line-height: .5;
}
