body {
  margin: 0;
  padding: 5vh;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
  padding-left: 3vw;
  padding-bottom: 1vh;
}
h2 {
  /* align-self: center; */
}
code, p {
  font-family: Consolas, 'Courier New',
    monospace;
}
h1{
  font-size: 3rem;
}
img {
  width: 75px;
  height: 75px;
}
#root {

}
.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contentHolder {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  /* justify-self: space-between;
  align-items: stretch; */
}
.statePage {
  display: flex;
  flex-direction: column;
  flex: 2 1 auto;
}
.statePage h1 {
  margin-left: -29vw;
}
.chartHolder {
  /* width: 80vw; */
  margin: 0 auto;
  border: 2px #280085 solid;
  padding: 0 1vw;
  margin: 3vw;
  border-radius: 10px;
}
.caseNoData {
  padding-top: 15%;
  position: absolute;
  z-index: 10;
  padding-left: 10vw;
  font-size: calc(2rem + 2vw);
  color: #cc0000;
}
nav {
  /* width: 100%; */
  flex: 1 1 auto;
  margin-top: 10vh;
}
nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 5px;
}
nav ul li, .uSLink {
  background-color: #cc0000;
  padding: 5px 10px;
  color: white;
}
.uSLink {
  justify-self: center;
  align-self: center;
  padding: 10px 15px;
}
nav ul li:nth-child(3n +2), .uSLink {
  background-color: #fff;
  border: 2px solid #280085;
  color: #280085 !important;
} 
nav ul .detailLink:nth-child(3n +2){
color: #280085;
}
nav ul li:nth-child(3n +3) {
  background-color: #280085;
} 

nav ul .detailLink, .uSLink {
  /* padding: 5px 10px; */
  text-decoration: none;
  color: inherit;
}
nav ul li:hover, .uSLink:hover {
  opacity: .7;
}

@media only screen and (max-width: 1200px) {

  .caseNoData {
    font-size: calc(1rem + 2vw);
    padding-left: 15vw;
    }

}
@media only screen and (max-width: 921px) {

    .contentHolder {
      flex-flow: column wrap;
    }
    .caseNoData {
      padding-top: 20%;
      padding-left: 15vw;
      }
    .statePage {
      padding-bottom: 12vh;
      order: 1;
    }
    .statePage h1 {
      margin-left: 0;
    }
    nav {
      order: 2;
    }

}
@media only screen and (max-width: 768px) {
    .statePage {
      padding-bottom: 12vw;
    }
    .caseNoData {
      font-size: calc(.7rem + 4vw);
      }
    nav {
      margin-top: 0;
    }
    nav ul {
      padding-left: 0;
    }
}
@media only screen and (max-width: 550px) {
    body {
      padding: 2vw;
    }
    h1 {
      font-size: 24px;
    }
    .statePage {
      padding-bottom: 3vw;
    }
    nav {
      margin-top: -2vh;
    }
    .caseNoData {
      font-size: calc(.5rem + 4vw);
      padding-top: 24%;
      }
}