body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
}
#gridContainer {
    width: 95vw;
    max-width: 1030px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
}
.grid-box {
    border-radius: 10px;
}
#div1 {
    background-color: rgb(178, 6, 221);
    grid-column: 1/-1;
}
#div2 {
    background-color: rgb(228, 40, 187);
    grid-column: 1/3;
    grid-row: 2/4;
}
#div3 {
    background-color: rgb(8, 144, 154);
    grid-column: 3/5;
}
#div4 {
    background-color: rgb(5, 230, 215);
}
#div5 {
    background-color: rgb(5, 230, 215);
}