
/* would need to add these font-files at top if I wanted this brush font */
/* @font-face {
  font-family: "Angeline Vintage";
  src: url("root-folder-fonts/Angeline_Vintage_Demo.otf");
  src: url("root-folder-fonts/Angeline_Vintage_Demo.ttf") format("truetype");
} */

  /* font-family: "Angeline Vintage", Sacramento, cursive; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family:  aktiv-grotesk, sans-serif; 
  font-family: astoria-sans, sans-serif;*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*border: black 1px solid;*/
}
body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* font-family: aktiv-grotesk, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background-color: rgb(245, 245, 245);
}
h1{
  font-size: 3rem;

}
#root {
    width: 95vw;
    /* this is a hack to remove horizontal scrolling that I can't find the source of */
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  /* compensate for menu gap/space on front page - see body */
 margin-top: -17vh;
}
#portfolio {
    width: 100%;
}
section {
  flex: 2 1 auto;
  display: grid;
  grid-template-columns: 10% 90%;
} 
.section h2 {
 -ms-transform: rotate(-180deg); /*  IE 9 */
  -webkit-transform: rotate(-180deg);  /* Safari 3-8 */
  transform: rotate(-180deg);
 writing-mode: vertical-rl;
 text-align: right;
 font-weight: 500;
 font-size: calc(250% + 2vw);
}
/* .section h2:nth-child(2n + 1) {
    color: #DB1A1B;
} */
.section-1, .section-3, .section-5 {
    color: #DB1A1B;
}
.section .project-holder {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;
    padding-right: 4rem;
}
.project-holder {
    /* This width includes the padding around the image, so during resize the images don't overflow the box*/
    
}
.project a:hover{
    border-bottom: none;
}
.project a:hover img{   
    transition: 0.2s;
    max-width: 103%;
}
.project a:hover h4{
    color: black;
}
.php-wordpress img, .project-detail img {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    transition: 0.2s;
}
.project h4 {
    padding-bottom: 0;
}
body {
	display:grid;
	background-color: #f5f5f5;
	font-family: Consolas, 'Courier New','Roboto Mono', Courier, monospace;
    font-size: 100%;
     /* remove this if we don't use a menu on other pages, and ook for compensatory negative margins on header of front page at all sizes */
    padding-top: 20vh;
    line-height: 1.9em;
}

code, p {
    font-family: Consolas, 'Courier New',
      monospace;
	font-size: calc(90% + .6vw);
    padding: .5em 0;
    line-height: 1.4;
    /* font-family: "Montserrat", sans-serif; */
    /* font-weight: 400; */
}
h1, h2, h3, h4, h5, h6 {
  /* origianl font-family was Google's Montserrat */
	font-family: 'Montserrat','Segoe UI', 'Helvetica Neue', sans-serif;
	padding: 1em 0;
	letter-spacing: 2px;
	/* font-variant: all-small-caps; */
	line-height: calc(1em + 1vw);
}

h1 {
	font-size: calc(1.5em + 2vw);
}

h2{
  font-size: 2.3rem;
  font-weight: 200;
}

h3 {
	font-size: 1.7rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1.3rem;
	font-family: 'Courier New','Roboto Mono', Courier, monospace;
	font-weight: bold;
}
h6 {
	font-size: 1em;
}
a {
    color: inherit;
}

a:hover{
    opacity: .7;
    border-bottom: 10px solid #76d5c4;
    border-top: 10px solid transparent;
}
button {
    padding: .6em 1.1em;
    background-color: #76d5c4;
    font-family:  Montserrat, sans-serif;
    font-variant: all-small-caps;
    margin: 1.5em auto;
    border-radius: 5px;
    font-size: 1.2em;
    border: #76d5c4 solid 4px;
}
section a button, .project-detail a button {
    color: #ffffff;
    text-align: center;
    align-self: center;

}
section button:hover {
    background-color: #990000;
    border: #990000 solid 4px;
}
article {
    display: flex;
    flex-flow: column wrap;
}

.navbar {
    font-size: 18px;
    background-color: #f5f5f5;
	height: 140px;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    top:0;
    transition: all 400ms ease-in-out;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
        padding: 30px 10px;
}
.main-nav {
	border-bottom: solid 10px #DB1A1B;
}
.nav-links:hover {
    /*color: rgba(50, 0, 150, 1);
    background-color: rgba(0, 255, 255, .1);*/
    opacity: .7;
    width: 100vw;            
    padding: 10px 30%;
    text-align: center;
}
/*.main-nav li:hover {
	border-bottom: solid 10px #DB1A1B;
    padding-top: 10px;
}*/
.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    /*margin-left: 20px;*/
    
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;

    border-bottom: solid 10px #DB1A1B;
}

.logo {
     /*justify-content: flex-start;*/
     margin-left: 0;
}
.navbar a.logo h3 {
    /*font-family: "Angeline Vintage", Sacramento, sans-serif;*/
    font-size: 1.6em;
    margin-left: -20px;
}

a:hover h3 {
    opacity: .7;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
/*            color: rgba(255, 255, 255, 0.8);*/
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
}

.main-nav {
    list-style-type: none;
    font-family: Montserrat, sans-serif;
	font-variant: all-small-caps;
    /*display: none;*/
    opacity: 0;
    height: 0;
    -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      /*border: solid 1px black;*/
}

.active  {
    opacity: 1;
    height: initial;
    margin-top: -50px;
	background-color: #f5f5f5;
}


i.fa-times {
    display: none;
}

i.switchBars {
    display: none;
}

i.switchTimes {
    display: block;
    position: relative;
    z-index: 5;
}

/*.       #js-navbar-toggle i.fa-bars {
    display: block;
    position: relative;
    z-index: 5;
}*/

.logo img {
    height: 100%;
    width: auto;
    height: 50px;
}

section, footer {
  width: 100%;
	/* padding: 2rem 2rem; */
	margin: 0 auto;
}
#section1 {
	margin-top: 0;
}
section a {
	color: #990000;
	text-decoration: none;
	font-weight: bold;
}
section a:hover {
  opacity: .7;
}
footer {
	text-align: center;
    align-self: end;
    padding: 2rem;
}
footer p {
    padding: 0;
    line-height: 1.2;
    font-size: 1rem;
    font-family: 'Montserrat', "Segoe UI",sans-serif;
    font-weight: 500;
} 
footer a {
    text-decoration: none;
    color: #DB1A1B;
}

/* * * HOME PAGE HERO GRID at mobile size and up* * * */

body#grid {
    width: 100%;
    /*if menu is gone, remove universal padding from body*/
    padding-top: 0;
    height: initial;
}
.navbar {
    width: 100%;
}
section#grid-container a {
    color: initial;
}
section#grid-container a:hover {
    color: rgba(0,0,0, .7);
    border-bottom: 10px solid #76d5c4;
    border-top: 10px solid transparent;
    padding: 6px;
    display: inline-block;
}
section#grid-container .box3 a:hover {
    padding-left: 0;
}
section#grid-container {
    font-family: 'Montserrat','Segoe UI', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    line-height: .9em;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-content: center;
    padding: 0;
    max-width: 100%;
    /*width: 360px;*/
}
#grid-container div {
    /*border: 1px black solid;*/
}
section#grid-container .upper-grid {
    margin: 0 auto 3em auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, minmax(5px,2em));
    list-style-type: none;
    max-width:100%;
    /*width: 360px;*/
}
section#grid-container .main-grid {
    display: grid;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-columns: 1fr 6fr 1fr;
    /* grid-template-rows: repeat(3, minmax(100px, 180px)); */
    grid-template-rows: auto minmax(100px, 180px) minmax(100px, 180px);
    font-size: .7rem;
    max-width: 100%;
    /*width: 360px;*/
    margin: 0 auto;
}
.upper-grid .box {
    /*border: 1px black solid;*/                
}
.upper-grid .box2 {
    /*border: 1px black dotted;*/
    grid-column: 1;
    justify-self: center;
}
/* .upper-grid .box3 {
    
} */
.upper-grid .box4 {
    justify-self: center;
}
.upper-grid .box5 {
    grid-column: 1;
}
.upper-grid .box6 {
    
}
.upper-left {
    grid-column: 2;
    grid-row: 1;
    display: grid;
}
.upper-right {
    text-align: left;
    grid-column: 2;
    grid-row: 2;
}
.center-left {
    text-align: right;
    grid-column: 2;
    grid-row: 4;
    margin-top: -2em;
}
.center-bottom-left {
    grid-column: 2;
    grid-row: 3;
    width: 50%;
}
.center-bottom-right {
    grid-column: 2/span 2;
    grid-row: 3;
    width: 50%;
    align-self: start;
    justify-self: end;
    margin-right: 2em;
}

.big-type {
    font-size: 2.5em;
    line-height: 1.2em;
    display: grid;
    align-content: center;
}
.big-type span{
  color:#DB1A1B;
}
.color {
    color: #DB1A1B;
    /*turquoise:#3cc3aa, fuchsia: #ff33cc; bright blue:#2e2eb8*/
}
.vert {                
   /* -ms-transform: rotate(90deg);IE 9 
    -webkit-transform: rotate(90deg);Safari 3-8 
    transform: rotate(90deg);
   /* align-self: end;*/ 
   writing-mode: vertical-rl;
    justify-self: end;
}

/*---------HOME PAGE STUFF - BELOW GRID HERO AREA--------*/
#home article .logo {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0;
    padding-bottom: 0;
    justify-content: flex-end;
    margin-right: 0;
    padding-right: 0;
    border-bottom: none;
}

#home #section1 article .logo h3{
padding-bottom: 10px;
padding-top: 0;
margin-right: 1em;
border-bottom: solid 10px #DB1A1B;
}
/*#home #section1 article .logo:hover h3 {
    border-bottom: solid 10px #76d5c4;
}*/

#home {
	padding-top: 2rem;
}
#home .navbar {
    display: none;
}

#home 
#section1 {
	margin-top: 0;
}

#home #section1 h1 {
	font-variant: normal;
	text-align: right;
	margin-right: 1em;
}
#home #section1 h2,
#home #section1 h3,
#home #section1 h4,
#home #section1 h5,
#home #section1 h6 {
	text-align: right;
	margin-right: 2em;
}
.contactBtn {
    align-self: center;
}
/* * * PORTFOLIO PAGE* * **/

/*----------TEMPLATE PAGE----------*/

#template-exp .big-web-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
}

/*----------CONTACT PAGE----------*/
#contact section a {
    color: initial;
}
#contact section a:hover {
    color: #990000;
    text-decoration: underline;
    font-weight: bold;
}
#contact #section1 h5{
    padding: 0 0;
}
.iconHolder{
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.iconHolder .icon {
    padding: 5px;
    font-size: calc(30% + 2vw);
    color: #DB1A1B;
}
.iconHolder a {
    border-bottom: none;
    border-top: none;
}

/*----------ABOUT PAGE----------*/
#about ul {
    margin-left: 2em;
    font-size: 1.2em;
    list-style-type: none;
}
#about ul h6 {
    line-height: 0;
}

/*----------PROJECT DETAILS PAGE----------*/
.project-page {
    padding: 0 5vh;
    /* may have to adjust this for menu */
    margin-top: -15vh;
}
.project-detail {
    display: flex;
    flex-flow: column nowrap;
}
/* .project-detail .text-section {
} */
.project-detail .pic-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.project-page h1, .project-page h2, .project-page h3 {
    padding-top: 0;
}
.project-detail-title {
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    /* add space for menu, which is fixed and so slides down over the top of the body */
    body {
      padding-top: 70px;
    }
    header {
      margin-top: -80px;
      /* this is the distancing between hero/header and main body of page */
      margin-bottom: 5rem;
    }
    .navbar {
      background-color: transparent;
      display: flex;
      font-size: 14px;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
      /*border-bottom: 2px solid #999;*/
    }

    .small {
      height: 50px;
      /*background-color: rgba(255,255,255, .9);*/
      background-color: rgba(245,245,245, .9);
      border-bottom: solid 10px #DB1A1B;
    }
    .small .logo {
    	border-bottom: none;
    }
    .small .main-nav li:hover {
		  border-bottom: none;
      padding-top: initial;
    }
    .navbar a.logo h3 {
        /*font-family: "Angeline Vintage", Sacramento, sans-serif;*/
        font-size: 1.8em;
        margin-left: -20px;
    }
    .main-nav {
      opacity: 1;
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
      height: initial;

      border-bottom: none;
    }

    .active  {
      height: initial;
      background-color: transparent;
      margin-top: initial;
    }

    .main-nav li:hover {
      border-bottom: solid 10px #DB1A1B;
      padding-top: 10px;
    }

    .main-nav li {
      margin: 0;
    }

    .nav-links {
      margin-left: 1vw;
    }
    .nav-links:hover {        
      width: 100vw;
      padding: 30px 10px;
    }
    .logo {
        margin-top: 0;
        margin-left: 20px;
    }
    .navbar-toggle {
        display: none;
    }

    section, footer {
    	/* padding: 2rem 6rem;
    	max-width: 1000px; */
    }

    #section1 {
      margin-top: 5vh;
    }
/*-------home page stuff--------*/
/*----HOME PAGE GRID HERO AREA AT 768PX-----*/
    body#grid {
    /*if menu is gone, remove universal padding from body*/
        padding-top: 0;
    }
    section#grid-container .upper-grid {
      font-size: 1em;
      margin: 3em 10% 3.5em 25%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, minmax(5px,2em));
    } 
    section#grid-container .main-grid {
        font-size: 1em;
        grid-gap: 20px;
        grid-template-columns: 1fr minmax(16vw,1fr) minmax(16vw,1fr) 1fr;
        grid-template-rows: repeat(3, 1fr);
    }    

    .upper-grid .box {
        /*border: 1px black solid;*/                
    }

    .upper-grid .box2 {
        /*border: 1px black dotted;*/
        grid-column: 2;
    }
    /* .upper-grid .box3 {
        
    } */
    .upper-grid .box4 {
        justify-self: center;
    }
    .upper-grid .box5 {
        grid-column: 2/-1;
    }
    .upper-grid .box6 {
        
    }
    .upper-left {
        grid-column: 1;
        grid-row: 1;
        display: grid;
    }
    .upper-right {
        text-align: left;
        grid-column: 3;
        grid-row: 1/-2;
    }
    .center-left {
        text-align: right;
        grid-column: 1;
        grid-row: 2;
        width: initial;
        margin-top: 0;
    }
    .center-bottom-left {
        grid-column: 2;
        grid-row: 3;
        margin-left: -3em;
        width: initial;
        align-self: default;
        justify-self: default;
    }
    .center-bottom-right {
        grid-column: 3/-1;
        grid-row: 3;
        width: initial;
        align-self: initial;
        justify-self: initial;
    }
    .vert {  
        /* writing-mode: vertical-rl;               */
        
        justify-self: end;
        /*oddly enough, this centers the email vertically*/
    }

    .big-type span.benefits-sizing {
        font-size: .8em;
        width: 20rem;
    }

	#home 
	#section1 {
		margin-top: 3rem;
	}

	/* * * PORTFOLIO at 768px * * **/
	.section h2 {
        padding: 1rem;
    }

	.section .project-holder {
        grid-template-columns: repeat(auto-fit, minmax(calc(320px), 1fr));
	}
    .project a:hover img{
    }
    .iconHolder{
        width: 70%;
    }
    .iconHolder .icon {
        font-size: 100%;
    }  /*----------PROJECT DETAILS PAGE at 768----------*/
    .project-page {
        padding: 0 5vh;
        margin-top: 5vh;
    }
	
}


 @media screen and (min-width: 921px) {
    .navbar {
        font-size: 18px;
    }
    /*-------HOME PAGE GRID HERO AREA AT 921PX-------*/

    .upper-right {
        grid-column: 4;
    }
    .center-bottom-left { 
        margin-left: 0;
    }
    .center-bottom-right {
        max-width: 50%;
        margin-right: 0;
    }

    /*-------home page stuff--------*/

    #home #section1 h1 {
      margin-right: 0;
    }


    /*-------portfolio stuff--------*/

    .section .project-holder {
        /* This width includes the padding around the image, so during resize the images don't overflow the box*/
        grid-gap: 6rem;
        
    }
    /*------- PROJECT DETAILS PAGE at 921px ----------*/
    .project-page {
        padding: 0 5vh;
        margin-top: -4vh;
    }
    .project-detail {
        margin-top: 5vh;
        display: flex;
        flex-flow: row nowrap;
    }
    .project-detail .text-section {
        max-width: 50%;
        padding-right: 5vw;
    }
    .project-detail .pic-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .project-page h1, .project-page h2, .project-page h3 {
        padding-top: 0;
    }
    .project-detail-title{
        padding-bottom: 0;
        text-align: center;
    }
    


 }

  @media screen and (min-width: 921px){

/*-------home page stuff--------*/
       
  #home #section1 h1 {
  	font-variant: normal;
  	text-align: right;
  	margin-right: 1em;
  } 
}


@media screen and (min-width: 1200px){
  /* remove this if we don't use a menu on ohter pages, and remove the padding from the body which compenastes for this */
    header {
      margin-top: -60px;
    }

    section#grid-container {
        max-width: 1000px;
    }
    section#grid-container .main-grid {
        grid-template-rows: repeat(3, auto);
    }

    .upper-grid .box {
        /*border: 1px black solid;*/                
    }

    .upper-grid .box2 {
        /*border: 1px black dotted;*/
        grid-column: 2;
    }
    /* .upper-grid .box3 {
        
    } */
    .upper-grid .box4 {
        justify-self: center;
    }
    .upper-grid .box5 {
        grid-column: 2/-1;
    }
    .upper-grid .box6 {
        
    }
    .upper-left {
        grid-column: 1;
        grid-row: 1;
        display: grid;
    }
    .upper-right {
        text-align: left;
        grid-column: 4;
        grid-row: 1;
    }
    .center-left {
        text-align: right;
        grid-column: 1;
        grid-row: 2;
    }
    .center-bottom-left {
        grid-column: 2;
        grid-row: 3;
    }
    .center-bottom-right {
        max-width: 100%;
        grid-column: 3;
        grid-row: 3;
    }
    .vert {
        align-self: center;
         height: 100%;
    }

}


@media screen and (min-width: 1600px) {

    section#grid-container {
        font-size: 1.1rem;
    }
    section#grid-container .upper-grid {
        margin: 2em 5% 2em 30%;
       /* grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(5px,2em));*/
    }
    section#grid-container .upper-grid .box3 {
      justify-self: center;
    }
    .vert {
        margin-top: 0;
    }
}

